<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="#">AskMe</a>
            </div>
            <div class="col-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search!</button>
                </form>
            </div>

            <div class="col-2">
                <div class="user">
                    <div class="links">
                        <a href="#">log in</a>
                        <a href="#">register</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <h1>Log In</h1>
            <div class="col-8">
                <form class="question-form">
                    <div class="row">
                        <div class="col-2">
                            <label for="validationServer01" class="form-label">Login</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control is-valid" id="validationServer01"
                                   value="karina" required placeholder="Enter your login...">
                            <p class="valid-feedback">
                                Correct!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="validationServer01" class="form-label">Password</label>
                        </div>
                        <div class="col-5">
                            <input type="password" class="form-control is-invalid" id="validationServer02"
                                   value="karina123" required placeholder="Enter your password...">
                            <p class="invalid-feedback">
                                Wrong password!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-10">
                            <button class="btn btn-success" type="submit">Log in!</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-10" style="margin-top: 10px">
                            <a href="#">Create new account</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <div class="header">
                    <h2>Popular Tags</h2>
                </div>
                <div class="row tags">
                    <p>
                        <a href="{% url 'tags' 'Study' %}">Study</a>
                        <a href="{% url 'tags' 'Python' %}" style="color:rgb(200, 0, 0)">Python</a>
                        <a href="{% url 'tags' 'C++' %}">C++</a>
                    </p>
                    <p>
                        <a href="{% url 'tags' 'Music' %}">Music</a>
                        <a href="{% url 'tags' 'Opera' %}" style="color:rgb(255, 130, 70)">Opera</a>
                    </p>
                    <p>
                        <a href="{% url 'tags' 'Art' %}" style="color:rgb(0, 150, 0)">Art</a>
                        <a href="{% url 'tags' 'Colors' %}">Colors</a>
                        <a href="{% url 'tags' 'Gallery' %}" style="color:rgb(255, 90, 200)">Gallery</a>
                        <a href="{% url 'tags' 'Painters' %}">Painters</a>
                    </p>
                    <p><a href="{% url 'tags' 'Sport' %}">Sport</a></p>
                </div>
                <h3>Best Members</h3>
                <div class="row tags">
                    <p><a href="{% url 'members' 'Alina' %}">Alina</a></p>
                    <p><a href="{% url 'members' 'qwerty' %}">qwerty</a></p>
                    <p><a href="{% url 'members' 'Dima' %}">Dima</a></p>
                    <p><a href="{% url 'members' 'Vlad' %}">Karina</a></p>
                    <p><a href="{% url 'members' 'Anton' %}">Anton</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">AskMe Anokhina 2022.</span>
    </div>
</footer>

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>
