<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="index.html">AskMe</a>
            </div>
            <div class="col-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search!</button>
                </form>
            </div>

            <div class="col-4">
                <div class="user">
                    <div class="row-two-elems">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar_1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10 user-info">
                            <div class="username">
                                <div>Karina Anokhina</div>
                            </div>
                            <div class="row">
                                <p>
                                    <a href="settings.html">settings</a>
                                    <a href="#">log out</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row-two-elems">
            <div class="row">
                <h1>Tag: Study</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar_1.jpg" alt="" />
                            </div>
                            <div class="input-group rating">
                                <input type="text" class="form-control" value="5">
                                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Vertical radio toggle button group">
                                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-like1" autocomplete="off" checked>
                                    <label class="btn btn-outline-success" for="vbtn-radio-like1">Like</label>
                                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-dislike1" autocomplete="off">
                                    <label class="btn btn-outline-danger" for="vbtn-radio-dislike1">Dislike</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Question 1</h2>
                            <!-- question-text -->
                            <label class="question-text">
                                <!-- lorem20 -->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque eaque repellendus sed tenetur vero. Animi culpa iusto mollitia nisi?
                            </label>
                            <div class="links">
                                <span><a href="question.html">answer(3)</a></span>
                                <div>
                                    <span>Tags:</span>
                                    <span><a href="#">Study</a></span>
                                    <span><a href="tag.html">Puthon</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar_2.jpg" alt="" />
                            </div>
                            <div class="input-group rating">
                                <input type="text" class="form-control" value="5">
                                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Vertical radio toggle button group">
                                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-like2" autocomplete="off" checked>
                                    <label class="btn btn-outline-success" for="vbtn-radio-like2">Like</label>
                                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-dislike2" autocomplete="off">
                                    <label class="btn btn-outline-danger" for="vbtn-radio-dislike2">Dislike</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Question 2</h2>
                            <!-- question-text -->
                            <label class="question-text">
                                <!-- lorem20 -->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque eaque repellendus sed tenetur vero. Animi culpa iusto mollitia nisi?
                            </label>
                            <div class="links">
                                <span><a href="question.html">answer(3)</a></span>
                                <div>
                                    <span>Tags:</span>
                                    <span><a href="#">Study</a></span>
                                    <span><a href="tag.html">Puthon</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar_3.jpg" alt="" />
                            </div>
                            <div class="input-group rating">
                                <input type="text" class="form-control" value="5">
                                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Vertical radio toggle button group">
                                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-like3" autocomplete="off" checked>
                                    <label class="btn btn-outline-success" for="vbtn-radio-like3">Like</label>
                                    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio-dislike3" autocomplete="off">
                                    <label class="btn btn-outline-danger" for="vbtn-radio-dislike3">Dislike</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Question 3</h2>
                            <!-- question-text -->
                            <label class="question-text">
                                <!-- lorem20 -->
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque eaque repellendus sed tenetur vero. Animi culpa iusto mollitia nisi?
                            </label>
                            <div class="links">
                                <span><a href="question.html">answer(3)</a></span>
                                <div>
                                    <span>Tags:</span>
                                    <span><a href="#">Study</a></span>
                                    <span><a href="tag.html">Puthon</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <div class="header">
                    <h2>Popular Tags</h2>
                </div>
                <div class="row tags">
                    <p>
                        <a href="{% url 'tags' 'Study' %}">Study</a>
                        <a href="{% url 'tags' 'Python' %}" style="color:rgb(200, 0, 0)">Python</a>
                        <a href="{% url 'tags' 'C++' %}">C++</a>
                    </p>
                    <p>
                        <a href="{% url 'tags' 'Music' %}">Music</a>
                        <a href="{% url 'tags' 'Opera' %}" style="color:rgb(255, 130, 70)">Opera</a>
                    </p>
                    <p>
                        <a href="{% url 'tags' 'Art' %}" style="color:rgb(0, 150, 0)">Art</a>
                        <a href="{% url 'tags' 'Colors' %}">Colors</a>
                        <a href="{% url 'tags' 'Gallery' %}" style="color:rgb(255, 90, 200)">Gallery</a>
                        <a href="{% url 'tags' 'Painters' %}">Painters</a>
                    </p>
                    <p><a href="{% url 'tags' 'Sport' %}">Sport</a></p>
                </div>
                <h3>Best Members</h3>
                <div class="row tags">
                    <p><a href="{% url 'members' 'Alina' %}">Alina</a></p>
                    <p><a href="{% url 'members' 'qwerty' %}">qwerty</a></p>
                    <p><a href="{% url 'members' 'Dima' %}">Dima</a></p>
                    <p><a href="{% url 'members' 'Vlad' %}">Karina</a></p>
                    <p><a href="{% url 'members' 'Anton' %}">Anton</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">AskMe Anokhina 2022.</span>
    </div>
</footer>

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>
